body{
	margin: 0;
}
div{
	width: 10px;
	float: left;
}

button{
	width: 50px;
	height: 50px;
	padding: 10px;
	margin: 10px;
}

#gameArea{
	top: 0%;
	width: 50%;
	height: 50%;
	background-color: #ddd;
	text-align: center;
}

.number{
	display: inline-block
}

#startGame, #tryA{
	width: auto;
}

#answer{
	width: 100%;
	height: 30%;
}

#endGame{
	top: 0%;
	width: 50%;
	height: 80%;
	z-index: -1;
	position: absolute;
	background-color: green;
	opacity: 0;
	text-align: center;
}