div{
	width: 10px;
	float: left;
}

button{
	width: 30px;
	height: 30px;
}

#startGame, #tryA{
	width: auto;
}

#answer{
	width: 50%;
	height: 30%;
}

#endGame{
	width: 50%;
	height: 50%;
	z-index: 1;
	position: absolute;
	background-color: green;
}