body{
	margin: 0;
	font-family: 'Catamaran', sans-serif;
}
h1{
	font-family: 'Catamaran', sans-serif;
	font-size: 2.5em;
}

div{
	width: 10px;
	float: left;
}

.playBtn{
	font-family: 'Catamaran', sans-serif;
	font-size: 1.7em;
	border-radius: 10px;
	margin: 10px;
	padding: 20px;
	border-style: none;
	width: 30%;
}
.playBtn:hover{
	opacity: 0.8;
}
.blue{
	background-color: #3793BC;
}
.pink{
	background-color: #E65667;
}
.yellow{
	background-color: #FFC347;
}
.green{
	background-color: #91c3c2;
}
.bg{
	background-color: #F4F4F4;
}

.ansbtn{
	font-family: 'Catamaran', sans-serif;
	width: 20%;
	font-size: 1.7em;
	border-radius: 10px;
	margin: 10px;
	padding: 20px;
	border-style: none;
}
.ansbtn:hover{
	opacity: 0.8;
}

#home{
	top: 0%;
	width: 100%;
	height: 100vh;
	text-align: center;
}

#gameArea{
	z-index: -1;
	opacity: 1;
	top: 0%;
	width: 100%;
	height: 100vh;
	text-align: center;
	position: absolute;
}

.number{
	display: inline-block
}

#answer{
	width: 100%;
	height: 30%;
}

#endGame{
	top: 0%;
	width: 100%;
	height: 100vh;
	z-index: -2;
	position: absolute;
	background-color: #d6d8cd;
	opacity: 0;
	text-align: center;
}

#score{
	padding: 20px;
}